<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Donuts!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">

    {{content-for "head"}}

    <link rel="stylesheet" href="{{rootURL}}app.css">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <div id="app"></div>
    <script src="{{rootURL}}app.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
