<section class="hero">
  <div class="hero-body"><h1 class="title">Donuts!</h1></div>
</section>
<div class="tile is-ancestor">
  <div class="tile box">
    <Donut @segments={{this.subs}} />
  </div>
  <div class="tile is-parent">

    <div class="tile is-child is-vertical">
      <div class="tile">
        <input type="text" id="segment-a" value={{this.subA}} oninput={{action segmentAChange }} />
      </div>
      <div class="tile">
        <input type="text" id="segment-b" value={{this.subB}} oninput={{action segmentBChange }} />
      </div>
      <div class="tile">
        <input type="text" id="segment-c" value={{this.subC}} oninput={{action segmentCChange }} />
      </div>
      <div class="tile">
        <input type="text" id="segment-d" value={{this.subD}} oninput={{action segmentDChange }} />
      </div>
      <div class="tile">
        <input type="text" id="segment-e" value={{this.subE}} oninput={{action segmentEChange }} />
      </div>
    </div>

  </div>

</div>
