<circle fill="transparent" stroke-width="30"
        cx={{this.cx}}
        cy={{this.cy}}
        r={{this.radius}}
        stroke-dasharray={{this.circumference}}
        stroke-dashoffset={{this.dashOffset}}
        transform="rotate({{this.angleOffset}} {{this.cx}} {{this.cy}})" 
        stroke={{this.color}} />
<text text-anchor="middle" x="{{this.labelX}}" y="{{this.labelY}}">{{this.percentageLabel}}</text>

